@model IEnumerable<ComiComi.Models.Publisher>

@{
    ViewData["Title"] = "Index";
}

<h1>Publishers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PublisherName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PublisherName)
            </td>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <td>
                    <a class="btn btn-outline-primary" asp-action="Edit" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Edit</a> |
                    <a class="btn btn-outline-info" asp-action="Details" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye-square"></i>Details</a> |
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>

@await Html.PartialAsync("_CreateItem","Publisher")